html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Consolas, "Courier New", monospace;
    color: #d4d4d4;
    background-color: #2e2357;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

header {
    background: #121212;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 2px solid #444;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    display: inline;
    margin: 0 15px;
}

header ul li a {
    color: #00ff00;
    text-decoration: none;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #00b300;
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

main h1 {
    font-size: 2rem;
    color: #00ff00;
}

main p {
    font-size: 1.2rem;
}

/* Liens */
a {
    color: #00ff00;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #00b300;
}

footer {
    background: #121212;
    color: #d4d4d4;
    text-align: center;
    padding: 1rem 0;
    border-top: 2px solid #444;
    width: 100%;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #1a1a1a;
    border: 1px solid #444;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.container ul {
    list-style-type: disc; 
    padding-left: 20px; 
    margin-bottom: 10px; 
}

.container ul li {
    margin: 8px 0; 
    display: flex;
    align-items: center;
}

.container ul li::before {
    content: "•"; 
    color: #00ff00; 
    font-size: 1.2em;
    margin-right: 10px; 
}


.container ul li {
    margin: 5px 0;
}


.project {
    background: #1a1a1a;
    border: 1px solid #444;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project h2 {
    color: #00ff00;
    margin-top: 0;
}

.project p {
    margin: 5px 0;
}

.project a {
    color: #00ff00;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
}

project a:hover {
    color: #00b300;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}
